/*
 * Link
 */
a {
  text-decoration: none;
}
.link {
  cursor: pointer;
}
.link:focus {
  outline: none;
}

/** Themes */
// @import './themes/dark.scss';
@import './themes/light.scss';