/*
 * Main palette
 */

/** Black palette */
$black: #222222;
$light-black: #666666;
$dark-black: #0F0F0F;

/** Gray palette */
$gray: #E0E0E0;
$light-gray: #FAFAFA;
$dark-gray: #707070;

/** Blue palette */
$blue: #42a5f5;
$light-blue: #80D6FF;
$dark-blue: #0077C1;