/*
 * Media query variables
 */
$phone_only: 599px;
$tablet_portrait_min: 600px;
$tablet_portrait_max: 899px;
$tablet_landscape_min: 900px;
$tablet_landscape_max: 1199px;
$desktop_min: 1200px;
$desktop_max: 1799px;
$big_desktop_min: 1800px;

/*
 * Basic structures
 */
/** Global structures */
:root, html, body, #app {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
body {
  display: flex;
}
/** Native containers */
div, section {
  box-sizing: border-box;
}
/** (Flex) Container styles */
.container {
  display: flex;
  padding: 16px;
  height: 100%;
}
@media only screen and (max-width: $phone_only) {
  .container {
    padding: 8px;
  }
}
.container--dense {
  padding: 8px;
}
.container--horizontal {
  flex-flow: row;
}
.container,
.container--vertical {
  flex-flow: column;
}
.container--raw {
  padding: 0;
}
/** (Flex) Alignment */
.align-items--center {
  align-items: center;
}
.align-self--center {
  align-self: center;
}
.justify--center {
  justify-content: center;
}
/** (Flex) Items */
.box,
.box--grow {
  flex: auto;
}
.box--shrink {
  flex: initial;
}

/*
 * Link
 */
a {
  text-decoration: none;
}
.link {
  cursor: pointer;
}
.link:focus {
  outline: none;
}

/*
 * Theme specific styles
 */
#showroom__box {
  background-color: white;
  width: 100%;
  height: 100%;
  border: 2px solid $gray;
  // border-radius: 18px;
  // -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
  // box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
}