/*
 * Media query variables
 */
$phone_only: 599px;
$tablet_portrait_min: 600px;
$tablet_portrait_max: 899px;
$tablet_landscape_min: 900px;
$tablet_landscape_max: 1199px;
$desktop_min: 1200px;
$desktop_max: 1799px;
$big_desktop_min: 1800px;

/*
 * Basic structures
 */

/** Global structures */
:root, html, body, #app {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
/** Native containers */
div, section {
  box-sizing: border-box;
}
/** (Flex) Container styles */
.container {
  display: flex;
  padding: 16px;
}
@media only screen and (max-width: $phone_only) {
  .container {
    padding: 8px;
  }
}
.container--dense {
  padding: 8px;
}
@media only screen and (max-width: $phone_only) {
  .container--dense {
    padding: 4px;
  }
}
.container--horizontal {
  flex-flow: row;
}
.container,
.container--vertical {
  flex-flow: column;
}
/** (Flex) Items */
.box,
.box--grow {
  flex: auto;
}
.box--shrink {
  flex: initial;
}