/*
 * Available color classes
 */

/** Black palette */
.c--black {
  color: $black;
  fill: $black;
}
.b--black {
  background-color: $black;
  color: white;
  fill: white;
}
.c--light-black {
  color: $black;
  fill: $black;
}
.b--light-black {
  background-color: $black;
  color: white;
  fill: white;
}
.c--light-black {
  color: $black;
  fill: $black;
}
.b--light-black {
  background-color: $black;
  color: white;
  fill: white;
}

/** Gray palette */
.c--gray {
  color: $gray;
  fill: $gray;
}
.b--gray {
  background-color: $gray;
  color: white;
  fill: white;
}
.c--light-gray {
  color: $gray;
  fill: $gray;
}
.b--light-gray {
  background-color: $gray;
  color: white;
  fill: white;
}
.c--light-gray {
  color: $gray;
  fill: $gray;
}
.b--light-gray {
  background-color: $gray;
  color: white;
  fill: white;
}

/** Blue palette */
.c--blue {
  color: $blue;
  fill: $blue;
}
.b--blue {
  background-color: $blue;
  color: white;
  fill: white;
}
.c--light-blue {
  color: $blue;
  fill: $blue;
}
.b--light-blue {
  background-color: $blue;
  color: white;
  fill: white;
}
.c--light-blue {
  color: $blue;
  fill: $blue;
}
.b--light-blue {
  background-color: $blue;
  color: white;
  fill: white;
}