/*
 * Sidebar layout - Black theme
 */
#sidebar-grid__sidebar {
  background-color: $dark-black;
  color: white;
  fill: white;
}

#sidebar-grid__content {
  background-color: $black;
  color: white;
  fill: white;
}