/*
 * Sidebar layout - Blue theme
 */
#sidebar-grid__sidebar {
  background-color: $blue;
  color: $black;
  fill: $black;
}

#sidebar-grid__content {
  background-color: $light-blue;
  color: $black;
  fill: $black;
}