/*
 * Main palette
 */

/** Black palette */
$black: #222222;

/** Blue palette */
$blue: #42a5f5;

/** Gray palette */
$gray: #E0E0E0;
$gray-light: #FAFAFA;
$gray-dark: #AEAEAE;

/*
 * Page layouts
 */
@import './layouts/structure.scss';
@import './layouts/sidebar/sidebar.layout.scss';

/*
 * Typography
 */
@import './typography/fonts.scss';