@import '@material/top-app-bar/mdc-top-app-bar';
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

/*
 * Top App Bar component styles
 */
// .mdc-top-app-bar.mdc-top-app-bar--relative {
//   position: relative;
// }

// .mdc-top-app-bar__drawer {
//   width: 399px;
//   z-index: 7;
// }
// @media only screen and (max-width: 505px) {
//   .mdc-top-app-bar__drawer {
//     width: 279px
//   }
// }

// .mdc-top-app-bar__section > .mdc-button {
//   margin: 8px;
// }
// .mdc-top-app-bar__section--align-center {
//   justify-content: center;
//   order: 1;
// }

// .mdc-top-app-bar--height-overflow-adjust {
//   max-height: calc(100% - 64px);
//   overflow-y: auto;
// }
// .mdc-top-app-bar--height-dense-overflow-adjust {
//   max-height: calc(100% - 48px);
//   overflow-y: auto;
// }

// .mdc-top-app-bar--forced-elevation {
//   box-shadow: $mdc-elevation-z2;
// }
