@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";

.mdc-tab-bar {
  --mdc-theme-primary: #0077C1;
  border-bottom: 1px solid $gray;
}

.mdc-tab-bar--rounded .mdc-tab:last-child,
.mdc-tab-bar--rounded .mdc-tab:last-child > .mdc-tab-indicator,
.mdc-tab-bar--rounded .mdc-tab:last-child > .mdc-tab__ripple {
  border-top-right-radius: 16px;
}
.mdc-tab-bar--rounded .mdc-tab:first-child,
.mdc-tab-bar--rounded .mdc-tab:first-child > .mdc-tab-indicator,
.mdc-tab-bar--rounded .mdc-tab:first-child > .mdc-tab__ripple {
  border-top-left-radius: 16px;
}

/** Tab panels */
.panels {
  height: calc(100% - 49px);
}
.panels > .panel {
  background-color: $light-gray;
}
.panels > .panel.panel--rounded {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.panels > .panel.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.8s, opacity 0.5s linear;
}
.panels > .panel:not(.active) {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  margin-left: -999px;
}